/* Global Layout Set-up */
    
body {
align-self: center;
color:#383838;
background:#E8E8E8;
}
* {
box-sizing: border-box;
}

html {
font-size: 62.5%;
}

html, body {
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;
}

h1, h2, h3, h4, h5 {
font-family: 'Open Sans', sans-serif;
font-weight:600;
}

h1 {
font-size: 1.8rem;
}

h2 {
font-size: 1.2rem;
padding-bottom: 10px;

}

h4 {
    font-weight:600;
    font-size: 1.1rem;
padding-bottom: 10px;
}

p {
line-height: 1.5;
font-size: 1.3rem;
padding-bottom: 1rem;
font-weight:300;
}

img {
max-width: 100%;
height: auto;
}

/* 
links links links links  
*/
a:link {
text-decoration: none;
font-family: 'Open Sans', sans-serif;
font-weight:600;
font-size: 1.1rem;

}
a:visited {
color:#383838;
}
a:hover {
color:silver;
}
a:active {
    color:orange;
}

/* =======END GLOBAL STYLES======================= */

/* really the MAIN section of the PAGE  */
.top-section {
max-width: 950px;
width: 100%;
margin: 0 auto;
background-color: whitesmoke;
padding:2rem;
}
/* 

NAME AND NAV  
*/
.name-nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:2rem;
    margin-bottom:1.5rem;
    width:90%;
    margin:0 auto;
}
    
nav, a {
    padding:.25rem;
    margin-right:.3rem;
    padding-left:2rem;
}

/* opening paragraph and cartoon photo  */

.about-photo {
    display:flex;
    justify-content:space-between;
    align-content: center;
    width:90%;
    margin:0 auto;
}

.about-photo p {
    margin-right:1.5rem;
    padding:0 2rem;
    text-align: justify;
}
.grumpy {
    padding: 1.3rem;
    size:70%;
    margin-bottom: 2rem;
}
/* end of top section  */

/* start of portfolio section  */

.portfolio {
    background-color: white;
    width:98%;
    height:600px;
    margin:2.5rem auto;
}

.port2 {
   text-align:center;
   padding:.5rem;
   margin-top:1rem;
}

/* FIRST ROW */

.first-row {
    display:flex;
    padding:2rem;
}
.marketing, .search, .travel, p {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    text-align: center;
    text-justify: justify;
    padding:0 1rem;
    border: solid red 1rem;
}

.marketing {
    padding:1rem;
    height:100%;
}
.search {
    padding:1rem;
    height:100%;
    
}

.travel {
    padding:1rem;
    height:100%;
}